{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
    <div class="container">
        <div id="lab8"></div>
    </div>
    <div class="container">
	    <div id="lab8feeds">
	    </div>    	
    </div>
</section>
{% endblock %}