html {
    padding: 0;
    margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #F0FFFF;
}

.feed {
	width: 90%;
	margin: 20px auto;
	background: white;
	border: 0 none;
	border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}

#lab8{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5% 5% 5% 5%;
}

button {
    text-align: center;
}

.profile .cover {
	width: 100%;
}

.profile .picture{
    display: block;
    margin: auto;
    max-width: 20%;
    margin-left: 3em;
    margin-top: -7em;
    border-width: 3px;
    border-color: black;
}

.profile {
	display: flex;
	flex-direction: column;
	width: 900px;
}

#postInput{
	width: 100%;
}

footer {
    font-size: 100%;
    text-align: center;
    margin: 0;
}
